<!--导航 start-->
<div class="row">
  <div class="col-md-12">
    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
    <ul class="page-breadcrumb breadcrumb">
    <li><i class="fa fa-home"></i>考试管理<i class="fa fa-angle-right"></i></li>
    <li><a href="">试卷管理</a><i class="fa fa-angle-right"></i></li>
    <li>生成试卷</li>
    </ul>
    <!-- END PAGE TITLE & BREADCRUMB-->
  </div>
</div>
<!--导航 end-->

{:widget('Common/examMenu',array('tag'=>2))}


<div class="row">
	<div class="col-md-12">
		<!-- BEGIN VALIDATION STATES-->
		<div class="portlet box green">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-reorder"></i>生成试卷
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse"></a>
					<a href="#portlet-config" data-toggle="modal" class="config"></a>
					<a href="javascript:;" class="reload"></a>
					<a href="javascript:;" class="remove"></a>
				</div>
			</div>
			<div class="portlet-body form">
				<!-- BEGIN FORM-->
				<form action="#this" id="form1" class="form-horizontal">
					<div class="form-body">

						<div class="form-group">
							<label class="control-label col-md-3">试卷名称</label>
							<div class="col-md-4">
								{:widget('Form/input', array('data[papername]', 'papername'))}
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3">选择题库类型</label>
							<div class="col-md-4">
								{:widget('Form/examTypeSelect', array($siteid, 'data[typeid]', 'typeid', '', array('fun'=>'getQuestion(this)')))}
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3">选择试题</label>
							<div class="col-md-9" id="questiondiv">
								
							</div>
						</div>						
						<div class="form-group">
							<label class="control-label col-md-3">考试时长(分钟)</label>
							<div class="col-md-4">
								{:widget('Form/inputnumber', array('data[minute]', 'minute', 30))}
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3">排序</label>
							<div class="col-md-4">
								{:widget('Form/inputnumber', array('data[listorder]', 'listorder'))}
							</div>
						</div>
					</div>
					<div class="form-actions fluid">
						<div class="col-md-offset-3 col-md-9">
              <button class="btn green" data-loading-text="正在生成..." type="submit" id="sub"><i class="fa fa-check"></i>执行生成</button>
              <button href="{:url('Exam/paperList')}" class="ajaxify btn default" type="button" id="gobackBtn">返回</button>
						</div>
					</div>
				</form>
				<!-- END FORM-->
			</div>
		</div>
		<!-- END VALIDATION STATES-->
	</div>
</div>

<SCRIPT type="text/javascript">

  function getQuestion(obj){
      typeid = $(obj).val();
      $("#questiondiv").html("正在加载试题....");
      $.post("{:url('Exam/getQuestion')}", {typeid:typeid}, function(data){
          $("#questiondiv").html(data);
      });
  }

  /*
  * 表单校验 提交
  */
  jQuery(document).ready(function($){
            
      $.validator.setDefaults({
          submitHandler: function(form){
              var $btn = $("#sub").button('loading');
              //提交表单
              $.post("{:url('Exam/paperAdd')}", $('#form1').serialize(), function(data){
                  data = eval(data);
                  if(data.code == 1){
                	    success(data.msg);
                	    App.doShow("{:url('Exam/paperList')}");
                  }else{
                      error(data.msg);
                      $btn.button('reset');
                  }
              });
          }
      });
      $("#form1").validate({
  		    event:"blur",
  		    errorElement: "span",
          errorPlacement: function(error, element) { //配置错误信息输出
              error.appendTo( element.parent("div") );
          },
          success: function(label) {
              label.text("").addClass("success"); //返回值
          },
          rules: {
                //"data[test]": {required:true},
                  },
          messages: {
                //"data[test]": {required:"请填写手机号"},
                  }
      });
      
  });
    
</SCRIPT>

