<!--导航 start-->
<div class="row">
  <div class="col-md-12">
    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
    <ul class="page-breadcrumb breadcrumb">
    <li><i class="fa fa-home"></i>考试管理<i class="fa fa-angle-right"></i></li>
    <li><a href="">试题管理</a><i class="fa fa-angle-right"></i></li>
    <li>编辑判断题</li>
    </ul>
    <!-- END PAGE TITLE & BREADCRUMB-->
  </div>
</div>
<!--导航 end-->

{:widget('Common/examMenu')}


<div class="row">
	<div class="col-md-12">
		<!-- BEGIN VALIDATION STATES-->
		<div class="portlet box green">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-reorder"></i>{$type.typename} - 编辑判断题
				</div>
        <div class="actions">
					<a href="{:url('Exam/questionList', array('typeid' => $type.typeid))}" class="ajaxify btn default"><i class="fa fa-plus"></i> 返回</a>
        </div>
			</div>
			<div class="portlet-body form">
				<!-- BEGIN FORM-->
				<form action="#this" id="form1" class="form-horizontal">
				  <input type="hidden" name="questionid" value="{$question.questionid}">
					<div class="form-body">

						<div class="form-group">
							<label class="control-label col-md-3">题目</label>
							<div class="col-md-9">
								{:widget('Form/input', array('topic', 'topic', $question.topic))}
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3">分数</label>
							<div class="col-md-9">
								{:widget('Form/inputnumber', array('score', 'score', $question.score))}
							</div>
						</div>
						<div class="form-group">
							<label class="control-label col-md-3">选项</label>
							<div class="col-md-6">
							  <?php
							  $options = json_decode($question['option'],true);
							  ?>
							  <table>
							    <tr>
							      <td>正确选项：</td>
							      <td>{:widget('Form/input', array('option[1]', 'option1', $options[1]))}</td>
							      <td>
                      <div class="radio-list">
                        <label class="radio-inline"><input type='radio' name='answer' value='1' <?=$question['answer']==1?'checked':'';?> />设为答案</label>
                      </div>
							      </td>
							    </tr>
							    <tr height="60px;">
							      <td>错误选项：</td>
							      <td>{:widget('Form/input', array('option[2]', 'option1', $options[2]))}</td>
							      <td>
                      <div class="radio-list">
                        <label class="radio-inline"><input type='radio' name='answer' value='2'  <?=$question['answer']==2?'checked':'';?> />设为答案</label>
                      </div>
							      </td>
							    </tr>
							  </table>
							</div>
						</div>
					</div>
					<div class="form-actions fluid">
						<div class="col-md-offset-3 col-md-9">
              <button class="btn green" data-loading-text="正在处理..." type="submit" id="sub"><i class="fa fa-check"></i>保存</button>
              <button href="{:url('Exam/questionList', array('typeid' => $type.typeid))}" class="ajaxify btn default" type="button" id="gobackBtn">返回</button>
						</div>
					</div>
				</form>
				<!-- END FORM-->
			</div>
		</div>
		<!-- END VALIDATION STATES-->
	</div>
</div>

<SCRIPT type="text/javascript">

  /*
  * 表单校验 提交
  */
  jQuery(document).ready(function($){

      $.validator.setDefaults({
          submitHandler: function(form){
              var $btn = $("#sub").button('loading');
              //提交表单
              $.post("{:url('Exam/tfngEdit', array('typeid' => $type.typeid))}", $('#form1').serialize(), function(data){
                  data = eval(data);
                  if(data.code == 1){
                	    success(data.msg);
                	    App.doShow("{:url('Exam/questionList', array('typeid' => $type.typeid))}");
                  }else{
                      error(data.msg);
                      $btn.button('reset');
                  }
              });
          }
      });
      $("#form1").validate({
  		    event:"blur",
  		    errorElement: "span",
          errorPlacement: function(error, element) { //配置错误信息输出
              error.appendTo( element.parent("div") );
          },
          success: function(label) {
              label.text("").addClass("success"); //返回值
          },
          rules: {
                //"data[test]": {required:true},
                  },
          messages: {
                //"data[test]": {required:"请填写手机号"},
                  }
      });
      
      
  });
    
</SCRIPT>

