{include file="../application/index/view/site_1/public/header.html" /}

	<link href="{$site.patch_css}/article.css" rel="stylesheet" type="text/css">

	<div id="content">
		<div class="topToolBox">
			<div class="pathWrap">
			  <div class="path">
			  	<em>您现在的位置：</em>
			  	<a class="home" href="/">首页</a>&gt;
          <?php
			    $siteCatNavs = widget('Content/getSiteCatNav', array($siteid, $currentcat['catid'],true));
			    if($siteCatNavs){
			        $nav = '';
			        foreach($siteCatNavs as $k => $v){
			            $nav .= "<a href='".$v['url']."' target='".$v['target']."'>".$v['catname']."</a>";    
			            if(($k+1) < count($siteCatNavs)){
			                $nav .= "&gt;";
			            }
			        }
			        echo $nav;
			    }
					?>
			  </div>
			</div>
		</div>
		<div class="mainBox" id="detailsBox">
			<div class="wBd">
				<div class="articleCon">
					<h2 class="title" style="color:">{$article.title}</h2>
					<h4 class="subTitle"></h4>
					<div class="property"> 
						<span>文章来源：{$article.source}</span>
						<span>发布时间：<?=date('Y年m月d日', $article['updatetime']);?></span> 
						<span>点击数：{$article.hits}次</span>
					</div>
					<div class="conTxt">
					  <p>{$article.content}</p>
					</div>
					<div class="pageShow"> <span id="pe100_page_contentpage" class="pagecss"></span> </div>
					<div class="property2">
					  <a class="dyBtn"  href="#this" onclick="javascript:alert('demo版暂不支持此功能');">【打印文章】</a>
					  <a class="scBtn"  href="#this" onclick="javascript:alert('demo版暂不支持此功能');">【添加收藏】</a>
					</div>
					<div class="others">
					  <div class="prev">
					  	<font>上一篇：</font>
					  	<a href="#this" onclick="javascript:alert('demo版暂不支持此功能');">关于商请协助做好《教育与装备研究》期刊2018年征订工作的函</a>[ 04-29 ]</div>
					    <div class="next"><font>下一篇：没有了！</font></div>
					</div>
				</div>
			</div>
		</div>
	</div>

{include file="../application/index/view/site_1/public/footer.html" /}

