<!--导航 start-->
<div class="row">
  <div class="col-md-12">
    <ul class="page-breadcrumb breadcrumb">
    <li><i class="fa fa-home"></i>站点管理<i class="fa fa-angle-right"></i></li>
    <li>站点列表</li>
    </ul>
  </div>
</div>
<!--导航 end-->

<div class="row">
  <div class="col-md-12">
    <div class="portlet box light-grey">

      <div class="portlet-title">
        <div class="caption"><i class="fa fa-case"></i>列表</div>
        <div class="actions">
          <a href="{:url('Site/siteAdd')}" class="toEditForm btn blue"><i class="fa fa-plus"></i> 添加站点</a>
        </div>
      </div>
      <div class="portlet-body">
        <table class="table table-striped table-bordered table-hover" id="sample_1">
          <thead>
            <tr>
              <th class="sorting" style="width:10%;">siteid</th>
              <th class="sorting" style="width:15%;">站点名称</th>
              <th class="sorting" style="width:15%;">域名</th>
              <th class="sorting" style="width:25%;">管理操作</th>              
            </tr>
          </thead>
          <tbody>
            <?php foreach($sites as $k => $v){ ?>
            <tr class="odd gradeX">
              <td><?=$v['siteid'];?></td>
              <td><?=$v['name'];?></td>
              <td><?=$v['domain'];?></td>
              <td>
                <a class="toEditForm btn default btn-xs purple" href="{:url('Site/siteEdit', array('siteid' => $v['siteid']))}"><i class="fa fa-edit"></i>修改 </a>
                <!--
                <a class="btn default btn-xs black" href=""><i class="fa fa-trash-o"></i> 删除</a>
                -->
              </td>
            </tr>
            <?php } ?>
          </tbody>
        </table>
      </div>        
    </div>
  </div>
</div>


			
<script>
  
  jQuery(document).ready(function() {
      TableList.init();
  });
  

</script>