  <div class="list_r fr">
    <h2>联系我们</h2>
    <div class="contact_img">
      <img src="{$site.patch_img}/r_contact.jpg" alt="">
    </div>
        <div class="tit">行政总部</div>
    <div class="con">
      <p>地址：北京市海淀区学清路8号科技财富中心B座3A层</p><p>邮编：100192</p><p>公司总机：+86-10-8273 6600</p><p>公司传真：+86-10-8273 6055</p>    </div>
    <div class="tit">功能联络</div>
    <div class="con">
      <p><em>&lt;人力资源&gt;</em>邮箱：zhaopin@lanxum.com</p><p><em>&lt;投资者关系&gt;</em>邮箱：contact@lanxum.com</p><p style="white-space: normal;"><em>&lt;媒体联络&gt;</em>邮箱：marketing@lanxum.com</p><p style="white-space: normal;"><em>&lt;投资并购&gt;</em>邮箱：investment@lanxum.com</p><p><br></p>    </div>
  </div>
  
  