<div class="row" style="margin-bottom:10px;">
  <div class="col-md-12">
      <a href="{:url('Exam/typeList')}" class="toEditForm btn  <?=($tag==0)?' btn-primary':'';?>">题库管理</a>
      <a href="{:url('Exam/randompaperList')}" class="toEditForm btn <?=($tag==1)?' btn-primary':'';?>">随机试卷管理</a>
      <a href="{:url('Exam/paperList')}" class="toEditForm btn <?=($tag==2)?' btn-primary':'';?>">试卷管理</a>
      <a href="{:url('Exam/userpaperList')}" class="toEditForm btn <?=($tag==3)?' btn-primary':'';?>">用户考卷</a>
	</div>
</div>



